doctype html
html
    head
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-8")
        title jade tests
        link(rel="stylesheet", href="/_/css/bootstrap.min.css", media="screen")
        link(rel="stylesheet", href="/_/css/styles.css", media="screen")
        link(rel="stylesheet", href="/_/blocks/block-search/block-search.css", media="screen")
        link(rel="stylesheet", href="/_/blocks/block-notice_viewer/block-notice_viewer.css", media="screen")
        link(rel="stylesheet", href="/_/blocks/block-search_results/block-search_results.css", media="screen")
        link(rel="stylesheet", href="/_/blocks/block-notice_editor/block-notice_editor.css", media="screen")
        script(src="/_/js/jquery.min.js")
        script(src="/_/js/bootstrap.min.js")
        script(src="/_/js/jade.min.js")
    body
        .container
            .row
                .col-md-3.col-sm-3.col-lg-3.col-xs-3 
                    .column(data-role='search') 
                .col-md-3.col-sm-3.col-lg-3.col-xs-3 
                    .column(data-role='searchResult')     
                .col-md-6.col-sm-6.col-lg-6.col-xs-6
                    .column(data-role='cont')  
                        button.btn.btn-info.btn-sm(data-role='newNotice') new note 
                        div(data-role='noticeCont')
                            
        script(src='/_/js/templator-jade.js')
        script(src='/_/js/events.js')
        script(src='/_/js/serverStorage.js')
        script(src='/_/blocks/block-search/block-search.js')
        script(src='/_/blocks/block-search_results/block-search_results.js')
        script(src='/_/blocks/block-notice_editor/block-notice_editor.js')
        script(src='/_/blocks/block-notice_viewer/block-notice_viewer.js') 
        script(src='/_/js/main.js')
