doctype html
html
    head
        meta(http-equiv="content-type", content="text/HTML;charset=UTF-8")
        title login
        script(src="/_/js/jquery.min.js")
    body
        form(method="post" action="/_/login")
            fieldset
                legend login
                input(type="text" name="login" autofocus required style="width:100%")
            fieldset
                legend password
                input(type="password" name="password" required style="width:100%")
            input(type="submit" style="display:none")
