label[data-role="tag-label"] {
    display : block;
    font-weight: inherit;
    color : gray;
    margin: 0;
}
label[data-role="tag-label"]:hover {
    color : black;
    cursor: pointer;
}
ul.list-unstyled{
	margin-top: 15px;
}
li.list-group-item{
	padding: 0px 20px;
	border: none;
}
li.list-group-item input{
	margin-right: 2%;
	margin-left: 6%;
}
div[data-role="search"] li[class="list-group-item"]:hover{
	background-color: #D9E9F5;
	border-radius: 0.5em;
}
div[data-role="search"] li[class="list-group-item"]{
	margin-left: 0.5em;
	margin-right: 0.5em;
}
span[class="tag_name"]{
	/*margin-left: 0.5em;*/
	margin-right: 0.5em;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
input:checked ~ span[class="tag_name"]{
	background-color: #D9E9F5;
	color: black;
	border-radius: 0.5em;
}
.actualTag{
	color: black;
}
.notActualTag{
	color: #B9B4B4;
}