form.form-group.has-feedback(role='form')
    input(type='hidden' data-notice-editor='id' value='#{ID}')
    input(type='hidden' data-notice-editor='date' value='#{DATE}')
    .form-group.has-feedback
        input(type="text" class='form-control' data-notice-editor='title' placeholder='title' value='#{TITLE}')
    .form-group.has-feedback
        input(type='text' class='form-control' data-notice-editor='tags' placeholder='tags comma separated' value='#{TAGS}')
        div(data-notice-editor='content' class='form-control' contenteditable='true')=CONTENT
        button.btn.btn-info.btn-sm(type='submit') save