li.list-group-item
    label(data-role='searchResultItem-label')
        input(type='radio' name='checkedNoticeId' data-notice-id='#{NOTICE_ID}' checked=CHECKED )
        div
            time.text-muted #{NOTICE_DATE} 
            span.notis_title.h4 #{TITLE}
            ul.list-inline
                each val in TAGS_LIST
                   li.tag_name.text-muted= val
