div(data-notice-id='#{ID}')
    button.btn.btn-warning.btn-sm(data-role='newNotice') edit
    time.pull-right(data-notice-viewer='date') #{DATE}
    h2 #{TITLE}
    ul.list-inline
        each val in TAGS
           li.tag_name.text-muted= val
    div(data-notice-viewer='content').text-info!= CONTENT
