div[data-notice-editor="content"]{
    width: 100%;
    height: 30em;
    margin-top: 1em;
}
div[data-notice-viewer="content"]{
    width: 98%;
    margin: auto;
}
time[data-notice-viewer="date"],
span[data-notice-viewer="tags"]{
    color: grey;
    display: block;
    margin-left: 2%;
}
button[data-role="newNotice"],
button[type='button'],
button[class="btn btn-info btn-sm"]{
    margin: 1%;
}