label[data-role="searchResultItem-label"] {
    display : block;
    font-weight: inherit;
    color : gray;
    margin : 0;
    padding : 0;
}
label[data-role="searchResultItem-label"] div {
    padding : 0;
}
ul[data-role="searchResultItem-label"] > li {
    padding : 0;
    margin : 1.5em 0.5em;
}
ul[data-role="searchResultItem-label"] > li:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 lightblue;
}
input[name="checkedNoticeId"]{
	display: none;
}
ul[class="list-inline"]{
	margin-top: 2%;
}
span.notis_title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	color: black;
	font-weight: 400;
    margin : 1% 0;
}
li.tag_name {
	background-color: #D9E9F5;
	border-radius: 0.5em;
	font-size: small;
    font-weight: 100;
    color:black;
    margin: 0.2em 0.1em;
	padding: 1%;
	padding: 0.2em;
}
ul.list-inline {
    padding : 0.2em 0.5em;
}
ul[data-role="searchResultItem-label"] time {
	font-size: small;
	font-weight:100;
}
input:checked ~ div{
	background-color:  #F3F3F3;
}
