body, html {
    padding : 0;
    margin : 0;
}

.column {
    position : absolute;
    display : inline-block;
    box-sizing : content-box;
    border-right : 1px solid gray;
    height : 100%;
    overflow : auto;
}

.column[data-role="search"] {
    left : 0;
    width : 20%;
}

.column[data-role="searchResult"] {
    left : 20%;
    width : 30%;
}

.column[data-role="cont"] {
    left : 50%;
    width : 50%;
    border-right : none;
}
