body,html,#content{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.column{
    box-sizing : content-box;
	overflow: auto;
	width: 100%;
	height: 100%;
}
.container{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

}
.row{
	margin: 0;
	height: 100%;
	width: 100%;
}
div[class^="col"]{
	padding: 0;
	height: 100%;
	border-right: 1px solid grey;
}
div[data-role="cont"] {
    padding : 1em;
    box-sizing : border-box;
    overflow : auto;
}
